@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

body{
background-color: #bbbcc1;
border-radius: 100px;
}

main{
background-color: #f7f8f9;

}

.head{
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
}

.head h1{
  font-size: 1.6rem;
  color: black;
}

.results{
  display: flex;
  border-radius: 100px;
  background-image: linear-gradient(to right, #deeff1, #f7edec);
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.circular{
  height:100px;
  width: 100px;
  position: relative;
  /*border:solid green 1px; */
}
.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #f7f8f9;
  border-radius: 100%;
}
.circular .number{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  font-size:18px;
  font-weight:500;
  color:#4158d0;
}
.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f18c21;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #f18c21;
}
.circle .right {
  transform: rotate(105deg);
  z-index:3;

}
.jzdbox1 {
  width:315px;
  background:#332f2e;
  border-radius:5px;
  overflow:hidden;
  display:block;
  margin-bottom:10px;
  box-shadow:0 0 10px #201d1c;
  margin:0 auto;
  margin-top:100px;
}

.jzdcal {
  padding:0 10px 10px 10px;
  box-sizing:border-box!important;
  background:#f7f8f9;
}

.jzdcalt {
  font:18px 'Roboto';
  font-weight:700;
  color:grey;
  display:block;
  margin:18px 0 0 0;
  text-transform:uppercase;
  text-align:center;
  letter-spacing:1px;
}

.jzdcal span {
  font:11px 'Roboto';
  font-weight:400;
  color:black;
  text-align:center;
  width:42px;
  height:42px;
  display:inline-block;
  float:left;
  overflow:hidden;
  line-height:40px;
}

.jzdcal .jzdb {
  opacity:0.5;
  /*content:'o';*/
}

.circle {
  border:1px solid #f7f3eb;
  box-sizing:border-box!important;
  border-radius:200px!important;
  background: grey;
  color: black;
  opacity: .8;
}

.active{
  border:1px solid #f7f3eb;
  box-sizing:border-box!important;
  border-radius:200px!important;
  background: teal;
  color: black;
  opacity: .8;
}
